<% provide(:title, 'About')  %>
<div class="container">
  <p class="lead">About the course</p>
  <dl class="dl-horizontal">
    <dt>Instructor</dt>
    <dd>Tim Novikoff</dd>
    <dt>TA</dt>
    <dd>Seulgi Kim</dd>
    <dt>Location</dt>
    <dd>To be determined. Will be updated by Aug. 30th.</dd>
    <dt>Office Hours</dt>
    <dd>Instructor : NONE<br/>
      TA : To Be Determined
    </dd>
  </dl>

  <br/>
  <br/>

  <p class="lead">Course Schedule</p>


  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Materials covered</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>1</td>
      <td>Aug 31st</td>
      <td></td>
    </tr>

    <tr>
      <td>2</td>
      <td>Sep 7th</td>
      <td></td>
    </tr>

    <tr>
      <td>3</td>
      <td>Sep 21st</td>
      <td></td>
    </tr>

    <tr>
      <td>4</td>
      <td>Sep 28th</td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <p class="text-error">
    There is NO CLASS on Sep 14th<br/>
    Final project is due on October 11th
  </p>


</div>