<div class="faq" id="faq1">
  <h1 class="question">1. What is pre-requisite?</h1>

  <p class="answer">
    <strong>CS2110 or basic understanding of OOP</strong> is required.<br/>
    The class assumes that students are familiar with OOP ( Object Oriented Programming),
    which means the class will not go over basic OOP concepts, such as class, inheritance, etc.
  </p>

</div>

<div class="faq" id="faq2">
  <h1 class="question">2. Is it okay if I miss the first class?</h1>

  <p class="answer">
    If you already have some iOS experience, it is fine to miss the first lecture for sure.
    If you have no experience with an IDE (XCode), or you aren't willing to spend 10-15 hours
    before Lecture 2 figuring out XCode on your own, I would drop the course now.
  </p>

</div>

<div class="faq" id="faq3">
  <h1 class="question">3. Is attendance required?</h1>

  <p class="answer">I won't be taking attendance but you'll be on the hook for all 4 assignments.
    Assignments are extensions of what I cover during lectures, so attendance is strong recommended.
  </p>
</div>

<div class="faq" id="faq4">
  <h1 class="question">4. How is course load?</h1>

  <p class="answer">
    There will be 4 assignments, and 1 final project.
    For your <strong>final project, you will develop an iPhone app of your choice</strong>
  </p>
</div>