<% provide(:title, 'FAQ') %>

<div class="faq" id="faq1">
  <h1 class="question">1. What is pre-requisite?</h1>

  <p class="answer">
    <strong>CS2110 or basic understanding of OOP</strong> is required.<br/>
    The class assumes that students are familiar with OOP ( Object Oriented Programming),
    which means the class will not go over basic OOP concepts, such as class, inheritance, etc.
  </p>

</div>

<div class="faq" id="faq2">
  <h1 class="question">2. Is it okay if I miss the first class?</h1>

  <p class="answer">
    If you already have some iOS experience, it is fine to miss the first lecture for sure.
    If you have no experience with an IDE (XCode), or you aren't willing to spend 10-15 hours
    before Lecture 2 figuring out XCode on your own, I would drop the course now.
  </p>

</div>

<div class="faq" id="faq3">
  <h1 class="question">3. Is attendance required?</h1>

  <p class="answer">I won't be taking attendance but you'll be on the hook for all 4 assignments.
    Assignments are extensions of what I cover during lectures, so attendance is strong recommended.
  </p>
</div>

<div class="faq" id="faq4">
  <h1 class="question">4. How is course load?</h1>

  <p class="answer">
    There will be 4 assignments, and 1 final project.
    For your <strong>final project, you will develop an iPhone app of your choice</strong>
  </p>
</div>

<div class="faq" id="faq5">
  <h1 class="question">5. What should I prepare for the first class?</h1>

  <p class="answer">
    Students are expected show up on the first day of class with <strong>a computer running Mac OS 10.7 or later with the latest version of XCode 4 already installed</strong>. Students can get XCode for free from the Mac App Store. It is an extremely large download, and it takes an extremely long time to install, so students should be sure to complete both the download and installation by Friday August 30th in order to be absolutely sure that they have both downloaded and installed the latest version of XCode 4 prior to the beginning of the first class. Although there are rumors that the release of XCode 5 is coming in early September, the plan is to teach the entire course using XCode 4 exclusively.
  </p>
</div>

<div class="faq" id="faq6">
  <h1 class="question">6. What should I bring to each class?</h1>
  Students should bring their laptop to each class.<strong>Macbook is strongly recommended</strong>. Although it is possible to run XCode on non-mac computers, it is not recommended. Students do <strong>not need an iPhone or any iOS device to take the course</strong>. We'll be exclusively using the iPhone Simulator that comes with the latest version of XCode 4
</div>