<div class="hero-unit">
  <div class="container">
    <div class="title center">CS2048 - Intro to iPhone Development</div>


    <div class="well well-large announcement center">
      Please don't email the instructor. Email the TA ( sk765@cornell.edu ) instead.<br/>
    </div>

    <div class="center">
      <%= link_to "Course Description", about_path,
                  class: "btn btn-info btn-lg" %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to "Contact", contact_path,
                  class: "btn btn-info btn-lg" %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to "FAQs", faq_path,
                  class: "btn btn-info btn-lg" %>

    </div>
  </div>
</div>