<div class="hero-unit">
  <div class="container">
    <div class="title">CS2048 - Intro to iPhone Development</div>


    <div class="well well-large announcement">
      The first class will be held on Aug 31st!
    </div>

    <div class="center">
      <%= link_to "Course Description", about_path,
                  class: "btn btn-info btn-lg" %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to "Contact", contact_path,
                  class: "btn btn-info btn-lg" %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to "FAQs", faq_path,
                  class: "btn btn-info btn-lg" %>

    </div>
  </div>
</div>